.poster {
  float: right;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15vw;
}
.img-poster {
  height: 30vw;
  width: 30vw;
}

.description {
  margin-left: 2vw;
  margin-top: 10vw;
  margin-bottom: 8vw;
  height: auto;
  width: 45vw;
  font-size: 5vw;
  color: white;
  text-align: left;
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 0.5vw 0.3vw black;
}

.description-2 {
  margin-left: 2vw;
  margin-top: 10vw;
  margin-bottom: 18vw;
  height: auto;
  width: 50vw;
  font-size: 5vw;
  color: white;
  text-align: left;
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 0.5vw 0.3vw black;
}



.pan-btn {
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  border-color: black;
  margin-left: 10vw;
  width: 16vw;
  height: 6vw;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: fantasy;
  margin-top: 20vw;
  margin-bottom: auto;
}
