.poster {
  float: right;
  margin-right: auto;
  margin-top: 10vw;
}

.description {
  margin-left: 7vw;
  margin-top: 15vw;
  margin-bottom: 25vw;
  height: 35vw;
  width: 35vw;
  height: auto;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  text-shadow: 2px 2px #ffc107;
}

.description-2 {
  margin-left: 7vw;
  margin-top: 1vw;
  margin-bottom: 25vw;
  height: 35vw;
  width: 35vw;
  height: auto;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  text-shadow: 2px 2px #ffc107;
}

.img-bg {
  opacity: 0.3;
  margin-left: 80px;
}

.container {
   position: relative;
   text-align: center;
   color: white;
}

.bottom-left {
   position: absolute;
   bottom: 8px;
   left: 16px;
}

.top-left {
   position: absolute;
   top: 8px;
   left: 16px;
}

.top-right {
   position: absolute;
   top: 8px;
   right: 16px;
}

.bottom-right {
   position: absolute;
   bottom: 8px;
   right: 16px;
}

.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.pan-btn {
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  border-color: black;
  margin-left: 10vw;
  margin-top: 5vw;
  width: 10vw;
  height: 3.5vw;
  font-size: 2vw;
}
